@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
}

body {
  font-family: "Amatic SC", cursive;
  letter-spacing: 2px;
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5b1089c6-bacb-4d88-8a75-3692aff4c6b1/dbst9nu-dc1069a2-2e0f-4131-8453-b6a40fc3f4a7.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzViMTA4OWM2LWJhY2ItNGQ4OC04YTc1LTM2OTJhZmY0YzZiMVwvZGJzdDludS1kYzEwNjlhMi0yZTBmLTQxMzEtODQ1My1iNmE0MGZjM2Y0YTcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.pUuu9DYk9xwTSo0KIH8l4oE8hlThsqZmLK_2QHlOS6g") center/cover;
  background-attachment: fixed;
  transition: all ease-in 1s;
}

ul {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

li {
  color: antiquewhite;
  list-style: none;
  margin: 5px;
  padding: 3px 20px;
/*   background: rgba(255,255,255,0.1); */
}

.timeline {
  position: relative;
  margin-top: 80px;
}

.timeline::before {
  content: '';
  background: goldenrod;
  position: absolute;
  width: 95%;
  height: 5px;
}

.timeline > li::after {
  content: '';
  position: absolute;
  border: solid transparent;
  border-width: 10px;
  border-bottom-color: white;
  top: 40px;
}

.timeline > li .date {
  position: absolute;
  top: -55px;
}

.timeline > li .house-desc {
  transition: all ease-out 1s;
  margin-top: 60px;
}

/* .timeline > li .house-desc::after {
  content: '';
  position: absolute;
  border: solid transparent;
  border-width: 10px;
  border-bottom-color: white;
  top: 40px;
} */

.timeline > li .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  background: goldenrod;
  border: 4px solid #172C27;
  border-radius: 10px;
}

.h_icon::before {
  position: absolute;
  content: '';
  background: url('https://vignette.wikia.nocookie.net/harrypotter/images/0/06/Hufflepuff_ClearBG.png/revision/latest?cb=20161020182518') center/cover no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}

.s_icon::before {
    position: absolute;
  content: '';
  background: url('https://vignette.wikia.nocookie.net/harrypotter/images/0/00/Slytherin_ClearBG.png/revision/latest?cb=20161020182557') center/cover no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}

.g_icon::before {
  position: absolute;
  content: '';
  background: url('https://vignette.wikia.nocookie.net/harrypotter/images/b/b1/Gryffindor_ClearBG.png/revision/latest?cb=20190222162949') center/cover no-repeat;
  width: 100%;
  height: 100%;
  display: block;
}

.r_icon::before{
   position: absolute;
  content: '';
  background: url('https://vignette.wikia.nocookie.net/harrypotter/images/4/4e/RavenclawCrest.png/revision/latest?cb=20161020182442') center/cover no-repeat;
  width: 100%;
  height: 100%;
  display: block; 
}

.icon::before{
  transition: all ease 0.6s;
}

.icon:hover::before {
  transform:scale(2) rotate(30deg);
}